/* https://raw.githubusercontent.com/jasonm23/markdown-css-themes/gh-pages/markdown6.css */
.articleBody {
  /* Extracted and interpreted from adcstyle.css and frameset_styles.css */

  background-color: #fff;
  color: #000;
  font:
    13px "Myriad Pro",
    "Lucida Grande",
    Lucida,
    Verdana,
    sans-serif;

  /* links */
  a:link {
    color: #00f;
    text-decoration: none;
  }

  a:visited {
    /*color: #00a;*/
    color: #00f;
    text-decoration: none;
  }

  a:hover {
    color: #f60;
    text-decoration: underline;
  }

  a:active {
    color: #f60;
    text-decoration: underline;
  }

  /* html tags */

  /*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */

  * html code {
    font-size: 101%;
  }

  * html pre {
    font-size: 101%;
  }

  /* code */

  pre,
  code {
    font-size: 11px;
    font-family: monaco, courier, consolas, monospace;
  }

  pre {
    margin: 20px 0;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #c7cfd5;
    background: #f1f5f9;
    padding: 8px;
    text-align: left;
  }

  hr {
    size: 1;
    width: 100%;
    color: #919699;
  }

  /* headers */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    font-family: "Myriad Pro", "Lucida Grande", Lucida, Verdana, sans-serif;
  }

  h1 {
    margin-top: 1em;
    margin-bottom: 25px;
    color: #000;
    font-weight: bold;
    font-size: 30px;
  }
  h2 {
    margin-top: 2.5em;
    border-bottom: 1px solid #919699;
    padding-bottom: 2px;
    color: #000;
    font-size: 24px;
  }
  h3 {
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: #000;
    font-size: 17px;
  }
  h4 {
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: #000;
    font-size: 15px;
  }
  h5 {
    margin-top: 20px;
    margin-bottom: 0.5em;
    padding: 0;
    color: #000;
    font-size: 13px;
  }

  h6 {
    margin-top: 20px;
    margin-bottom: 0.5em;
    padding: 0;
    color: #000;
    font-size: 11px;
  }

  p {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  /* lists */

  ul {
    margin: 0 0 0 30px;
    padding: 0 0 12px 6px;
    list-style: square outside;
  }

  li {
    margin-top: 7px;
  }

  ol {
    margin: 0 0 0 30px;
    padding: 0 0 12px 6px;
    list-style-type: decimal;
    list-style-position: outside;
  }

  ol ol {
    margin: 7px 0 0 30px;
    padding: 0 0 0 10px;
    list-style-type: lower-alpha;
    list-style-position: outside;
  }

  ul ul {
    margin-left: 40px;
    padding: 0 0 0 6px;
  }

  li > p {
    display: inline;
  }
  li > p + p {
    display: block;
  }
  li > a + p {
    display: block;
  }

  /* table */

  table {
    border-top: 1px solid #919699;
    border-left: 1px solid #919699;
    border-spacing: 0;
    width: 100%;
  }

  table th {
    border-right: 1px solid #919699;
    border-bottom: 1px solid #919699;
    background: #e2e2e2;
    padding: 4px 8px 4px 8px;
    font-size: 12px;
  }
  table th p {
    margin-bottom: 0px;
    font-weight: bold;
  }

  table td {
    vertical-align: top;
    border-right: 1px solid #919699;
    border-bottom: 1px solid #919699;
    padding: 8px;
    font-size: 12px;
  }
  table td p {
    margin-bottom: 0px;
  }
  table td p + p {
    margin-top: 5px;
  }
  table td p + p + p {
    margin-top: 5px;
  }

  /* forms */

  form {
    margin: 0;
  }

  button {
    margin: 3px 0 10px 0;
  }
  input {
    vertical-align: middle;
    margin: 0 0 5px 0;
    padding: 0;
  }

  select {
    vertical-align: middle;
    margin: 0 0 3px 0;
    padding: 0;
  }

  textarea {
    margin: 0 0 10px 0;
    width: 100%;
  }
}
